<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>

<form action="{% url 'save'%}" method="post">
    {% csrf_token %}

<table
        class="table table-hover"
        border="2"
        align="center"
        style="
            width: 250px;
            align-items: center;
            border: 20px">
  <thead>
    <tr>
        <th scope="col">
<div class="input-group input-group-lg" style="width: 150px">
    <input type="number" required placeholder="IDNO" name="t1" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
</div>
        </th>
    </tr>
    <tr>
        <th scope="col">
<div class="input-group input-group-lg" style="width: 150px">
    <input type="text" required placeholder="NAME" name="t2" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
</div>
        </th>
    </tr>
    <tr>
        <th scope="col">
<div class="input-group input-group-lg" style="width: 150px">
    <input type="decimal" required placeholder="SALARY" name="t3" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
</div>
        </th>
    </tr>
<tr>
        <th scope="col">
<button type="submit" class="btn btn-outline-success">Save</button>
        </th>
</tr>
  </thead>
</table>
</form>

{% if message %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  Employee Details are saved
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% endif %}


<form action="{% url 'viewall' %}">
<button type="submit" class="btn btn-primary">View all Employees</button>
</form>
<br>

<form action="{% url 'viewallids' %}">
<button type="submit" class="btn btn-primary">View all Employee Idno's</button>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>