<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table align="center" border="0">
        <tr>
            <th>
                {% include 'title.html' %}
            </th>
        </tr>
        <tr>
            <th>
                {% include 'main_menu.html' %}
            </th>
        </tr>
        <tr>
            <th height="300" colspan="6">
                Welcome Women
            </th>
        </tr>
    </table>
</body>
</html>