
{% load staticfiles %}

<html>
    <body>
        <table align="center" border="0">
            <tr><th></th></tr>
            <tr>
                <th> 
                
                    <img src="{% static 'images/google_png_logo_596178.png' %}" width="100" height="100">
                    
                </th>
                <th>
                    <font face="Arial Brial" size="8">
                    Sathya Technologies
                    </font>
                </th>
            </tr>
        </table>

        <br>
        <br>


        <table align="center" border="0">
            <tr>
                <th>
                    <table align="center" border="0">
                        <tr><th width="250" height="50">Student Login </th></tr>
                        <tr><th width="250" height="50"><input type="text" placeholder="Username" required></th></tr>
                        <tr><th width="250" height="50"><input type="password" placeholder="Password" required></th></tr>
                        <tr><th width="250" height="50"><button type="submit">Login</button> </th></tr>
                    </table>

                </th>
                <th>
                    
                    <img src="{% static 'images/student_login.png' %}"
                        width="250" height="250">
                    
                </th>
            </tr>

        </table>
    </body>
</html>